 //Tipografías

$mainFont: 'Montserrat', sans-serif;
$titlesFont: 'Roboto Slab', serif;

//Font Size
$fontSize: 16px;

//Font Size Variables
$textLg:1.4rem;
$textMd:1.2rem;
$textSm:1rem;

//Weights Fonts
$textLight:300;
$textRegular:400;
$textMedium:500;
$textSemiBold:600;
$textBold:700;
$textExtraBold:800;


//Line Height
$lineHeight:1.7;
