// Declaraciones globales

// Botones
@mixin Button ( $fontSize, $fontWeight, $color, $backgroundColor, $border, $borderRadius, $boxShadow : false, $padding : false, $margin : false ) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $color;
    background-color: $backgroundColor;
    border: $border;
    border-radius: $borderRadius;
    @if $boxShadow{
        box-shadow: $boxShadow;
    }
    @if $padding{
        padding: $padding;
    }
    @if $margin{
        margin: $margin;
    };
}

// Mediaqs
@mixin medias($breakpoint){
	@if $breakpoint == mobile{
		@media (max-width: 767px){
			@content;
		}
	}
	@if $breakpoint == tablet{
		@media (min-width: 768px) and (max-width: 1289px){
			@content;
		}
	}
	@if $breakpoint == desktop{
		@media (min-width: 1290px){
			@content;
		}
	}
}
